p {
    color: purple;
    font-size: 1.2rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.7rem
}
img {max-width: 650px;}